<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/my.css">
    <title>后台管理</title>
</head>
<body>
<div id="app">
    <el-container style="height: 60px;">
        <!--LOGO-->
        <el-image style="width: 200px; height: 60px;" src="/img/logo.jpg"></el-image>
        <!--状态栏-->
        <el-main style="background-color: #ffcccc">

            哈哈哈哈哈哈欢迎👏

            <el-link style="float: right" href="https://element.eleme.io" target="_blank" :underline="false">
                <i class="el-icon-s-promotion"></i>博客首页
            </el-link>

            <el-dropdown style="float: right;">
                <span class="el-dropdown-link" style="margin-right: 30px;"><i class="el-icon-s-custom"
                                                                              style="margin-right: 10px;"></i>鼎</span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item disabled>昵称：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;鼎</el-dropdown-item>
                    <el-dropdown-item disabled>账号：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MonsterXu</el-dropdown-item>
                    <el-dropdown-item disabled>上次登录：&nbsp;&nbsp;&nbsp;2020-07-19 17:00:29</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-main>
    </el-container>

    <!--中间-->
    <el-container style="height: 765px; border: 1px solid #eee;">
        <!--导航栏-->
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu
                    :default-openeds="['1','2','3']"
                    class="links">
                <!--分类标题-->
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-stopwatch"></i>仪表盘</template>
                    <el-menu-item-group>
                        <a href="/admin"><el-menu-item index="1-1"><i class="el-icon-stopwatch"></i>仪表盘</el-menu-item></a>
                        <a href="/admin/blog/showAddBlog"><el-menu-item index="1-2"><i class="el-icon-edit-outline"></i>发布博客</el-menu-item></a>
                    </el-menu-item-group>
                </el-submenu>

                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>管理模块</template>
                    <el-menu-item-group>
                        <a href="/admin/blog"><el-menu-item index="2-1"><i class="el-icon-notebook-1"></i>博客管理</el-menu-item></a>
                        <a href="/admin/comment"><el-menu-item index="2-2"><i class="el-icon-chat-line-round"></i>评论管理</el-menu-item></a>
                        <a href="/admin/category"><el-menu-item index="2-3"><i class="el-icon-collection-tag"></i>分类管理</el-menu-item></a>
                        <a href="/admin/tags"><el-menu-item index="2-4"><i class="el-icon-price-tag"></i>标签管理</el-menu-item></a>
                        <a href="/admin/link"><el-menu-item index="2-5"><i class="el-icon-link"></i>友情链接</el-menu-item></a>
                    </el-menu-item-group>
                </el-submenu>

                <el-submenu index="3">
                    <template slot="title"><i class="el-icon-s-tools"></i>系统管理</template>
                    <el-menu-item-group>
                        <a href="/admin/system"><el-menu-item index="3-1"><i class="el-icon-setting"></i>系统配置</el-menu-item></a>
                        <a href="/admin/user"><el-menu-item index="3-2"><i class="el-icon-user"></i>修改密码</el-menu-item></a>
                        <a href="/admin/exit"><el-menu-item index="3-3"><i class="el-icon-switch-button"></i>安全退出</el-menu-item></a>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container>
            <el-header
                    style="width: 100%; background-color: #ffd6d6; height: 40px; line-height: 40px; font-size: 16px;">
                <b>分类管理</b>
            </el-header>

            <!--内容展示-->
            <div>
                <el-main>
                    <template>
                        <el-button size="small" type="primary" round @click="addCategory()">添加博客分类</el-button>
                    </template>

                    <template>
                        <el-table style=" width: 100%"
                                  :data="category"
                                  @selection-change="handleSelectionChange" >

                            <el-table-column
                                    type="selection"
                                    width="80">
                            </el-table-column>


                            <el-table-column prop="categoryName" label="分类名称" width="280">

                            </el-table-column>

                            <!--<el-table-column prop="categoryIcon" label="分类图标" width="380">-->
                                <!--<template slot-scope="scope">-->
                                    <!--<el-image-->
                                            <!--style="width: 100px; height: 100px"-->
                                            <!--:src="scope.row.categoryIcon"-->
                                            <!--fit="fit">-->
                                    <!--</el-image>-->
                                <!--</template>-->
                            <!--</el-table-column>-->

                            <el-table-column prop="createTime" label="添加时间" width="380">
                            </el-table-column>

                            <el-table-column prop="isDeleted" label="操作">
                                <template slot-scope="scope">
                                    <el-button size="mini" @click="editCategory(scope.row)">编辑
                                    </el-button>


                                    <el-button v-if="scope.row.isDeleted==0" size="mini" type="warning"
                                               @click="stopCategory(scope.row)">停用
                                    </el-button>

                                    <el-button v-else-if="scope.row.isDeleted==1" size="mini" type="info"
                                               @click="recoverCategory(scope.row)">恢复
                                    </el-button>

                                    <el-button size="mini" type="danger" @click="deleteCategory(scope.row)">删除
                                    </el-button>

                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                </el-main>
            </div>


            <!--分页条，一页显示11个最好-->
            <div align="center">
                <el-pagination
                        background
                        layout="prev, pager, next"
                        @current-change="handleCurrentChange"
                        :total="pagination.total"
                        :page-size="pagination.pageSize"
                        :current-page.sync="pagination.currentPage">
                </el-pagination>
            </div>
        </el-container>


    </el-container>
    <!--底部-->
    <el-container>
        <el-footer style="height:25px; line-height: 25px; text-align: center; font-size: 9px;">
            Copyright © 2020 MonsterXU All rights reserved. <i>京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号
            京网文[2020]0276-042号</i>
        </el-footer>
    </el-container>
</div>
</body>
<!-- import Vue and Element -->
<script src="/js/vue.js"></script>
<script src="/js/ElementUI-index.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/axios.js"></script>
<script type="text/javascript" th:inline="javascript">
    new Vue({
        el: '#app',
        data() {
            category = [[${category}]];
            console.log(category);
            //分页相关属性
            pagination = {
                currentPage: 1,
                pageSize: 10,
                total: 0,
            };

            return {
                category,
                pagination
            };
        },
        //钩子函数
        created() {

            // //发送请求查询所有的标签
            // axios.get("/admin/tags/list").then(res => {
            //     //查询所有标签
            //
            // }).catch(err => {
            //     alert("查询失败")
            // });

            this.findPage();
        },
        methods: {
            //多选
            handleSelectionChange(val){
                this.multipleSelection = val;
            },
            //添加分类
            addCategory() {
                this.$prompt('请输分类名称', '新增分类', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                }).then(({value}) => {
                    //发送请求，添加标签
                    axios.post("/admin/category/add", {"categoryName": value}).then((res) => {

                        if (res.data.flag) {
                            //添加成功
                            this.$message({
                                type: 'success',
                                message: '添加分类：    ' + value + '  成功！'
                            });
                        }
                        //修改成功之后重新调用分页查询
                        this.findPage();
                    }).catch((err) => {
                        //打印错误信息
                        console.log(err);
                        //添加失败
                        this.$message({
                            type: 'error',
                            message: '添加失败，请检查分类是否重复或者网络是否有问题'
                        });
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消添加'
                    });
                });

            },
            //修改博客分类
            editCategory(category) {
                this.$prompt('请输博客分类名称', '修改博客分类', {
                    inputValue: category.categoryName,
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                }).then(({value}) => {
                    //发送请求，添加标签
                    axios.put("/admin/category/update/" + category.categoryId + "/" + value,).then(res => {

                       // console.log(res);
                        console.log("id是：" + category.categoryId + "   分类名称是：" + category.categoryName + "  修改之后的名称是：" + value);
                        //判断是否修改成功
                        if (res.data.flag) {
                            this.$message({
                                type: 'success',
                                message: '分类名称修改成功，修改后的名称是： ' + value
                            });

                            //修改成功之后重新调用分页查询
                            this.findPage();
                        }

                    }).catch(err => {
                        //修改失败
                        this.$message({
                            type: 'error',
                            message: '博客分类修改失败'
                        });
                    })

                    //取消修改
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消修改'
                    });
                });

            },
            //恢复分类
            recoverCategory(category) {
                this.$confirm('是否恢复该分类?', '恢复分类', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'info'
                }).then(() => {
                    //发送请求删除标签
                    axios.delete("/admin/category/recover/" + category.categoryId).then((res) => {

                        if (res.data.flag) {
                            //恢复成功
                            this.$message({
                                type: 'success',
                                message: '恢复成功'
                            });
                            this.findPage();
                        }

                    }).catch((err) => {
                        console.log("恢复标签失败： " + err);
                        //删除失败
                        this.$message({
                            type: 'error',
                            message: '恢复失败'
                        });
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消恢复'
                    });
                });

            },
            //停用分类
            stopCategory(category) {
                this.$confirm('是否停用该分类?', '停用分类', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //发送请求停用标签
                    axios.delete("/admin/category/stop/" + category.categoryId).then((res) => {

                        if (res.data.flag) {
                            //停用成功
                            this.$message({
                                type: 'success',
                                message: '停用成功'
                            });
                            this.findPage();
                        }

                    }).catch((err) => {
                        //停用失败
                        this.$message({
                            type: 'error',
                            message: '停用失败'
                        });
                    });

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消停用'
                    });
                });
            },
            //删除分类
            deleteCategory(category) {
                this.$confirm('是否删除该分类?', '删除分类', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'danger'
                }).then(() => {
                    //发送请求删除分类
                    axios.delete("/admin/category/delete/" + category.categoryId).then((res) => {

                        if (res.data.flag) {
                            //删除成功
                            this.$message({
                                type: 'success',
                                message: '删除成功'
                            });
                            this.findPage();
                        }

                    }).catch((err) => {
                        console.log("删除分类失败： " + err);
                        //删除失败
                        this.$message({
                            type: 'error',
                            message: '删除失败'
                        });
                    });

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消删除'
                    });
                });
            },
            //分页查询
            findPage() {
                //封装分页参数
                var currentPage = this.pagination.currentPage - 1;
                var pageSize = this.pagination.pageSize;

                console.log("currentPage:" + currentPage + "---------- currentPage" + currentPage);

                //发送ajax请求，提交分页相关参数
                axios.get("/admin/category/findPage/" + currentPage + "/" + pageSize).then((res) => {

                     console.log("返回的分页数据是："+res);

                    //为VUE对象的模型数据赋值，基于双向数据绑定展示到页面
                    this.category = res.data.rows;//当前页展示的数据集合
                    this.pagination.total = res.data.total;//总数据量
                    //获取图片数组
                    this.url = res.data.rows.categoryIcon;
                });
            },
            //切换页码
            handleCurrentChange(val) {
                console.log(val);
                //为模型数据赋值（当前页面）
                this.pagination.currentPage = val;
                this.findPage();
            }
        }
    });
</script>
</html>