<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/my.css">
    <!--<link rel="stylesheet" href="css/style.css" th:href="@{/editor.md-master/examples/css/style.css}" />-->
    <link rel="stylesheet" href="../css/editormd.css" th:href="@{/editor.md-master/css/editormd.css}" />
    <title>后台管理</title>

</head>
<body>
<div id="app">
    <el-container style="height: 60px;">
        <!--LOGO-->
        <el-image style="width: 200px; height: 60px;" src="/img/logo.jpg"></el-image>
        <!--状态栏-->
        <el-main style="background-color: #ffcccc">


            哈哈哈哈哈哈欢迎👏

            <el-link style="float: right" href="https://element.eleme.io" target="_blank" :underline="false">
                <i class="el-icon-s-promotion"></i>博客首页
            </el-link>

            <el-dropdown style="float: right;">
                <span class="el-dropdown-link" style="margin-right: 30px;"><i class="el-icon-s-custom"
                                                                              style="margin-right: 10px;"></i>鼎</span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item disabled>昵称：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;鼎</el-dropdown-item>
                    <el-dropdown-item disabled>账号：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MonsterXu</el-dropdown-item>
                    <el-dropdown-item disabled>上次登录：&nbsp;&nbsp;&nbsp;2020-07-19 17:00:29</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-main>
    </el-container>

    <!--中间-->
    <el-container style="height: 765px; border: 1px solid #eee;">
        <!--导航栏-->
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu
                    :default-openeds="['1','2','3']"
                    class="links">
                <!--分类标题-->
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-stopwatch"></i>仪表盘</template>
                    <el-menu-item-group>
                        <a href="/admin">
                            <el-menu-item index="1-1"><i class="el-icon-stopwatch"></i>仪表盘</el-menu-item>
                        </a>
                        <a href="/admin/blog/showAddBlog">
                            <el-menu-item index="1-2"><i class="el-icon-edit-outline"></i>发布博客</el-menu-item>
                        </a>
                    </el-menu-item-group>
                </el-submenu>

                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>管理模块</template>
                    <el-menu-item-group>
                        <a href="/admin/blog">
                            <el-menu-item index="2-1"><i class="el-icon-notebook-1"></i>博客管理</el-menu-item>
                        </a>
                        <a href="/admin/comment">
                            <el-menu-item index="2-2"><i class="el-icon-chat-line-round"></i>评论管理</el-menu-item>
                        </a>
                        <a href="/admin/category">
                            <el-menu-item index="2-3"><i class="el-icon-collection-tag"></i>分类管理</el-menu-item>
                        </a>
                        <a href="/admin/tags">
                            <el-menu-item index="2-4"><i class="el-icon-price-tag"></i>标签管理</el-menu-item>
                        </a>
                        <a href="/admin/link">
                            <el-menu-item index="2-5"><i class="el-icon-link"></i>友情链接</el-menu-item>
                        </a>
                    </el-menu-item-group>
                </el-submenu>

                <el-submenu index="3">
                    <template slot="title"><i class="el-icon-s-tools"></i>系统管理</template>
                    <el-menu-item-group>
                        <a href="/admin/system">
                            <el-menu-item index="3-1"><i class="el-icon-setting"></i>系统配置</el-menu-item>
                        </a>
                        <a href="/admin/user">
                            <el-menu-item index="3-2"><i class="el-icon-user"></i>修改密码</el-menu-item>
                        </a>
                        <a href="/admin/exit">
                            <el-menu-item index="3-3"><i class="el-icon-switch-button"></i>安全退出</el-menu-item>
                        </a>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container>
            <el-header
                    style="width: 100%; background-color: #ffd6d6; height: 40px; line-height: 40px; font-size: 16px;">
                <b>新增文章</b>
            </el-header>

            <!--内容展示-->
            <div style="padding: 50px;">
                <el-form :inline="true" ref="blogs" :model="blogs" label-width="80px">
                    <el-form-item label="标题">
                        <el-input v-model="blogs.blogTitle" placeholder="请输入文章标题"></el-input>
                    </el-form-item>

                    <el-form-item label="标签">
                       <el-input v-model="blogs.blogTags" placeholder="请输入文章标签"></el-input>
                    </el-form-item>
                    <el-form-item label="文章分类">
                        <el-select v-model="blogs.blogCategoryName" placeholder="请选择文章分类">
                            <el-option label="日常随笔" value="0"></el-option>
                            <el-option label="SSM整合进阶篇" value="1"></el-option>
                            <el-option label="About" value="2"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="saveBlog(blogs)">保存草稿</el-button>
                        <el-button type="success" onclick="location='/admin/blog'">返回文章列表</el-button>
                    </el-form-item>


                    <div id="layout">
                        <div id="test-editormd"></div>
                    </div>


                </el-form>


            </div>
        </el-container>
    </el-container>
    <!--底部-->
    <el-container>
        <el-footer style="height:25px; line-height: 25px; text-align: center; font-size: 9px;">
            Copyright © 2020 MonsterXU All rights reserved. <i>京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号
            京网文[2020]0276-042号</i>
        </el-footer>
    </el-container>
</div>
</body>
<!-- import Vue and Element -->
<script src="/js/vue.js"></script>
<script src="/js/ElementUI-index.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/axios.js"></script>
<script src="js/jquery.min.js" th:src="@{/editor.md-master/examples/js/jquery.min.js}"></script>
<script src="../editormd.js"  th:src="@{/editor.md-master/editormd.js}"></script>

<script type="text/javascript" th:inline="javascript">
    new Vue({
        el: '#app',
        data() {
            blogs = {
                blogTitle: '',
                blogTags: '',
                blogCategoryName: ''
            };
            // console.log(blogs);

            //分页相关属性
            pagination = {
                currentPage: 1,
                pageSize: 10,
                total: 0,
            };

            return {
                blogs,
                pagination
            };
        },
        //钩子函数
        created() {
        },
        methods: {
            //添加标签
            saveBlog(blogs) {
                this.$confirm('是否保存文章？', '保存文章', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {

                    blogs.blogContent = $('.editormd-markdown-textarea').val();

                    console.log(blogs);

                    //发送请求，修改文章
                    axios.post("/admin/blog/addBlog",blogs).then((res)=>{

                        if(res.data.flag){
                            this.$message({
                                type: 'success',
                                message: '保存成功!'
                            });
                        }else {
                            this.$message({
                                type: 'error',
                                message: '保存失败!'
                            });
                        }
                    }).catch(()=>{
                        this.$message({
                            type: 'error',
                            message: '保存失败!'
                        });
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消保存'
                    });
                });
            }
        }
    });
</script>


<script type="text/javascript">
    var blogText = '';
    var testEditor;

    $(function() {

        $.get('', function(){
            testEditor = editormd("test-editormd", {
                width: "90%",
                height: 600,
                path : '/editor.md-master/lib/',
                theme : "dark",
                previewTheme : "dark",
                editorTheme : "pastel-on-dark",
                markdown : blogText,
                codeFold : true,
                //syncScrolling : false,
                saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
                searchReplace : true,
                //watch : false,                // 关闭实时预览
                htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
                //toolbar  : false,             //关闭工具栏
                //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
                emoji : true,
                taskList : true,
                tocm            : true,         // Using [TOCM]
                tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                flowChart : true,             // 开启流程图支持，默认关闭
                sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
                //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
                //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
                //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
                //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
                //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
                imageUpload : true,
                imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : "/editor.md-master/examples/php/upload.php",
                onload : function() {
                    console.log('onload', this);
                    //this.fullscreen();
                    //this.unwatch();
                    //this.watch().fullscreen();

                    //this.setMarkdown("#PHP");
                    //this.width("100%");
                    //this.height(480);
                    //this.resize("100%", 640);
                }
            });
        });

        $("#goto-line-btn").bind("click", function(){
            testEditor.gotoLine(90);
        });

        $("#show-btn").bind('click', function(){
            testEditor.show();
        });

        $("#hide-btn").bind('click', function(){
            testEditor.hide();
        });

        $("#get-md-btn").bind('click', function(){
            alert(testEditor.getMarkdown());
        });

        $("#get-html-btn").bind('click', function() {
            alert(testEditor.getHTML());
        });

        $("#watch-btn").bind('click', function() {
            testEditor.watch();
        });

        $("#unwatch-btn").bind('click', function() {
            testEditor.unwatch();
        });

        $("#preview-btn").bind('click', function() {
            testEditor.previewing();
        });

        $("#fullscreen-btn").bind('click', function() {
            testEditor.fullscreen();
        });

        $("#show-toolbar-btn").bind('click', function() {
            testEditor.showToolbar();
        });

        $("#close-toolbar-btn").bind('click', function() {
            testEditor.hideToolbar();
        });

        $("#toc-menu-btn").click(function(){
            testEditor.config({
                tocDropdown   : true,
                tocTitle      : "目录 Table of Contents",
            });
        });

        $("#toc-default-btn").click(function() {
            testEditor.config("tocDropdown", false);
        });
    });
</script>

</html>